body{ 
	/* border: 1px solid red; */
	margin: 0;
}

/* -- Mixins Above -- */
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* Cross Browser Border Radius Mixin */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

h1 {margin:0;}


/* -- Header Containers -- */
#header-container {
	position: fixed;
	height: 52px;
	width: 100%;
	top: 0;
	z-index: 1000;
	background: #fff;
	border-bottom: 1px #c0c0c0 solid;
	padding: 0.1em;
	

		
	#logo {
		width: 82px;
		height: 52px;
		background: url('../img/logo.gif') no-repeat;
		float: left;
	}
	
	#nav-main {
		float: left;
		ul{padding:1em 0 0 0.5em;margin:0;float: left;width: auto;}
		li{margin-left:1em;display: inline;
		font:.875em "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;}
		li:first-child{margin-left:0;}
		
		a {
			color: #aaa;
			text-decoration: none;
		}

		a.active, a:hover.active {
			color: #000;
		}	

		a:hover {
			color: #0093cc;
		}
	}
	
	#nav-secondary {
		
		float: right;
		ul{padding:0 0 0 0.5em;margin:0 1em 0 0;float: left;width: auto;}
		li{
			&:before{
				content: " ";
				display: table;
				color: #aaa;
				content: '\00B7';
				margin: 0 5px 0 0;
				display: inline-block;
				-webkit-transition: color 120ms cubic-bezier(0.455,0.03,0.515,0.955);
				-moz-transition: color 120ms cubic-bezier(0.455,0.03,0.515,0.955);
				-o-transition: color 120ms cubic-bezier(0.455,0.03,0.515,0.955);
				transition: color 120ms cubic-bezier(0.455,0.03,0.515,0.955);
				font: .875em "source-sans-pro","Helvetica Neue",sans-serif;
				font-weight: bold;
			}
			margin-right:0.1em;
			display: inline;
			font: .875em "source-sans-pro","Helvetica Neue",sans-serif;
			color: #aaa;
		}
		li:first-child{
			&:before{
				content: " ";
				display: table;
			}
		}
		
		a {
			color: #aaa;
			text-decoration: none;
		}

		a:hover {
			color: #0093cc;
		}
	}
	
	#search-signin {
		float: right;
			
		ul{padding:1.2em 0 0 0.5em;margin:0;float: left;width: auto;}
		li{
			padding: 0;
			&:before{
				content: " ";
				display: table;
			}
			display: inline-block;
		}
		
		a {
			color: #0093cc;
			text-decoration: none;
		}
		
		.search-trigger {
			background: url('../img/search-ico.gif') no-repeat;
			width: 52px;
			height: 52px;
			float: right;
			cursor: hand;
			cursor: pointer;
		}
		
		
	}
	
	#search-bar{ 
		padding-top: .4em;
		width: 0; 
		overflow: hidden; 
		float: right;
		
		.searchBar {
			width: 200px;
			height: 20px;
			margin-right: 1em;
			background: url('../img/searchbar-ico.gif') no-repeat;
			padding: 0.6em 0 0.6em 30px;
			color: #aaa;
			border: 1px solid #c0c0c0;
			@include border-radius(2px); 
		}
	}
}

#header-container-after {
	margin-top: 44px;
}

/* -- Banner Components -- */
.banner {
	height: 300px;
	width: 100%;
	background: #000;
}

/* -- Navigation components -- */
.main-nav{
	ul{padding:0;margin:0;}
	li{margin-top:1em;}
	/* li:first-child{margin-top:0;} */
	a{display:block; background:#ececec;}
	
	@media (min-width: 40em){
		ul{@include clearfix; }
		li{float:left; margin-left:1em;}
		li:first-child{margin-left:0;}
		a{padding: 0.5em 1em;}
	}
}

/* -- Layout Components -- */
.container{
	margin: 1em auto 0 auto;
	/* border: 1px solid red; */
	
	
	@media (min-width:40em){
		width:40em;
	}
	
	@media (min-width: 55em){
		width:55em;
	}
	
	@media (min-width:80em){
		width:64em;
	}
}

.col-container{
	@include clearfix;
	/* margin-top: 1em; */
}

.col-container-slider5 {
	@include clearfix;
	margin-top: 1em;
	background: #336699;
}

.col {
	margin-top: 1em;
	padding-top: 1em;
	border-top:1px solid blue;
	&:first-child{margin-top:0; padding-top:0;border:none;}
	
	@media (min-width:40em){
		float:left;
		margin-top:0;
		padding-top:0;
		border:none;
	}
}

.col-2 {
	background: orange;
	@media(min-width: 40em){
		width: 48.75%;
		margin-left:2.5%;
		&:first-child{margin-left:0;}
	}
}

.col-3 {
	@media(min-width: 40em){
		width: 24.4%; /* 32% */
		margin-left:2%;
		&:first-child{margin-left:0;}
	}
	
	@media(min-width: 80em){
		width: 30.5%;
		margin-left:4.25%;
		&:first-child{margin-left:0;}
		
		/* -- Articles -- */
		.source-title {
			color: #555;
			font: 700 .688em/1.091em "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
			letter-spacing: 1px;
			margin-top: .364em;
		}

		.story-title-link {
			color: #191919;
			text-decoration: none;
			-webkit-transition: color .15s cubic-bezier(0,0,0.58,1);
			-moz-transition: color .15s cubic-bezier(0,0,0.58,1);
			-o-transition: color .15s cubic-bezier(0,0,0.58,1);
			transition: color .15s cubic-bezier(0,0,0.58,1);
			font-family: lft-etica, 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 22px;
			line-height: 24.992000579833984px;
			margin-top: .4em;
			font-weight: bold;
		}
		
		.story-meta {
			ul{padding:0;margin:0;float: left;width: auto;}
			li{
				&:before{
					content: " ";
					display: table;
					color: #aaa;
					content: '\00B7';
					margin: 0 5px 0 0;
					display: inline-block;
					-webkit-transition: color 120ms cubic-bezier(0.455,0.03,0.515,0.955);
					-moz-transition: color 120ms cubic-bezier(0.455,0.03,0.515,0.955);
					-o-transition: color 120ms cubic-bezier(0.455,0.03,0.515,0.955);
					transition: color 120ms cubic-bezier(0.455,0.03,0.515,0.955);
					font: .875em "source-sans-pro","Helvetica Neue",sans-serif;
					font-weight: bold;
				}
				margin-right:0.1em;
				display: inline;
				font: .775em "source-sans-pro","Helvetica Neue",sans-serif;
				color: #aaa;
			}
			li:first-child{
				&:before{
					content: "";
					display: table;
				}
			}
			
			a {
				text-decoration: none;
				color: rgb(68, 68, 68);
			}
			
			
		}
		
		.story-descr {
			font-family: source-sans-pro, 'Helvetica Neue', sans-serif;
			font-size: 14px;
			font-family:source-sans-pro, 'Helvetica Neue', sans-serif;
			color: rgb(68, 68, 68);
			float: left;
		}
	}
}

.col-5 {
	@media(min-width: 40em){
		width: 18.4%;
		margin-left:2%;
		&:first-child{margin-left:0;}	
	}
}




/* -- Footer Components -- */
#footer {
	width: 100%;
	margin-top: 10px;
}

#footer-inner {
	margin: 0 auto;
	background: #c0c0c0;
}

#footer-links {

}